<div class="navbar navbar-fixed-top topstrap" style="height:90px;">
	<div class="container-fluid" style="max-width:1200px;">
		<div class="row">
			<div class="col-sm-6 hidden-xs">
				<h3 id="header">
					<a style="color:#555;" href="/">LANTERN</a>
					<br><small>by <a href="https://cottagelabs.com">Cottage Labs</a></small>
				</h3>
			</div>
			<div class="col-sm-6">
				<p style="text-align:right;margin-top:15px;">
					Shining a light on open access
				</p>
				<p class="notcloggedin" style="text-align:right;margin-top:-5px;">
					<a class="showlogin" href="#">Login</a> or <a class="showlogin" href="#">sign up</a>
				</p>
				<a data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" class="pull-right cloggedin" style="margin-top:-5px;">
					Account <span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right">
					<li><a href="/account#history">Report history</a></li>
					<!--
					<li><a href="/account#settings">Settings</a></li>
					-->
					<li><a id="cloginLogout" href="#">Logout</a></li>
				</ul>
				<div id="cloginArea" style="display:none;margin-top:10px;">
					<div id="cloginEmailArea" class="input-group">
						<input type="text" id="cloginEmail" class="form-control" placeholder="Enter your email address">
						<div class="input-group-btn">
							<a id="cloginSubmit" class="btn btn-primary" href="#">Login / sign up</a>
						</div>
					</div>
					<div id="cloginTokenArea" style="display:none;">
						<input type="text" class="form-control" id="cloginToken" placeholder="Check your email, enter your login code - or just click the link in the email">
					</div>
					<div id="cloginMessages" style="margin-top:5px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
jQuery(document).ready(function() {

	$('.showlogin').bind('click',function(e) { e.preventDefault(); $('.showlogin').parent().hide(); $('#cloginSubmit').html($(this).html()); $('#cloginArea').toggle(); $('#cloginEmail').focus(); });
	var ready = function() {
		$('#cloginArea').hide();
		$('#blurb').hide();
	}

	clogin.init({
		afterLogin:ready
	});
	
	lantern.startup();

});
</script>