<head>
  <meta charset="utf-8">
  <title>Lantern | Cottage Labs</title>
  <meta name="description" content="">
  <meta name="author" content="Cottage Labs">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript" src="//static.cottagelabs.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="//static.cottagelabs.com/bootstrap-3.0.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//static.cottagelabs.com/bootstrap-3.0.3/css/bootstrap.min.css">
  <script type="text/javascript" src="//static.cottagelabs.com/fingerprint2.js"></script>
  
  <script type="text/javascript" src="/static/dropfile.js"></script>
  <script type="text/javascript" src="/static/lantern.js"></script>
  <script type="text/javascript" src="//static.cottagelabs.com/clogin.js"></script>
  
  <link href='//fonts.googleapis.com/css?family=Corben' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>

  <link href='/static/lantern.css' rel='stylesheet' type='text/css'>

</head>
