.topstrap {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 1px #cccccc;
  -moz-box-shadow: 0px 2px 8px 1px #cccccc;
  -webkit-box-shadow: 0px 2px 8px 1px #cccccc; }

.application-panel {
  background-color: #fcfcfc;
  color: #393e41;
  padding-top: 30px;
  padding-bottom: 200px;
  /*
  a {
    color: $altBackground;

    &:hover {
      color: $altBackground;
      text-decoration: none;
    }
  }*/ }

.section-odd {
  background-color: #477890;
  color: #fcfcfc;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.2em; }
  .section-odd a {
    color: #c9f299; }
    .section-odd a:hover {
      color: #c9f299;
      text-decoration: underline; }
  .section-odd .infotable tr {
    border-bottom: 1px solid #fcfcfc; }
  .section-odd .pullout-quote {
    float: right;
    width: 40%;
    border-top: 10px solid #fcfcfc;
    border-bottom: 10px solid #fcfcfc;
    padding: 20px;
    margin: 20px;
    color: #fcfcfc;
    font-size: 1.5em; }

.section-even {
  background-color: #fcfcfc;
  color: #393e41;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.2em; }
  .section-even a {
    color: #477890; }
    .section-even a:hover {
      color: #477890;
      text-decoration: underline; }
  .section-even .infotable tr {
    border-bottom: 1px solid #393e41; }
  .section-even .pullout-quote {
    float: right;
    width: 40%;
    border-top: 10px solid #477890;
    border-bottom: 10px solid #477890;
    padding: 20px;
    margin: 20px;
    color: #477890;
    font-size: 1.5em; }

.infotable {
  margin-top: 40px;
  margin-bottom: 40px; }
  .infotable td {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    vertical-align: top; }

.casestudy {
  background-color: #fcfcfc; }
  .casestudy .client-logo {
    min-width: 200px;
    width: 20%; }
  .casestudy .header-primary {
    text-align: center;
    padding-bottom: 40px;
    background-color: #477890;
    color: #fcfcfc; }
    .casestudy .header-primary h3 {
      font-size: 3em;
      margin-bottom: 40px; }
  .casestudy .intro {
    font-size: 1.4em;
    margin-bottom: 40px; }
  .casestudy .summary {
    border-left: 1px solid #fcfcfc;
    border-right: 1px solid #fcfcfc;
    text-align: center; }
    .casestudy .summary strong {
      font-size: 1.3em; }
  .casestudy .inline-quote {
    font-style: italic;
    margin-bottom: 0px; }
  .casestudy .quote-attribution {
    text-align: right; }
  .casestudy h4 {
    margin-top: 40px;
    font-size: 2em;
    margin-bottom: 10px; }
  .casestudy p {
    line-height: 1.4;
    margin-bottom: 15px; }

.documentation {
  background-color: #fcfcfc; }
  .documentation .header-primary {
    text-align: center;
    padding-bottom: 40px;
    background-color: #477890;
    color: #fcfcfc; }
    .documentation .header-primary h3 {
      font-size: 3em; }
  .documentation .section-expansion {
    border-bottom: 1px dashed #cccccc; }
  .documentation h4 {
    margin-top: 40px;
    font-size: 2em;
    margin-bottom: 30px; }
  .documentation h5 {
    font-size: 1.6em; }
  .documentation p {
    line-height: 1.4;
    margin-bottom: 15px; }
  .documentation li {
    line-height: 1.4; }
  .documentation .header-expansion {
    margin-top: 30px; }
    .documentation .header-expansion a {
      padding-right: 10px; }
    .documentation .header-expansion .container-expander-link {
      text-align: right; }
  .documentation .examplecsv {
    background: #ffffff;
    border: 1px solid #000000;
    width: 100%;
    margin-bottom: 30px; }
    .documentation .examplecsv td {
      border: 1px solid #000000;
      padding: 5px 10px 5px 10px; }

.information-link {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 15px; }
  .information-link a {
    font-size: 1.5em;
    line-height: 1; }
  .information-link p {
    margin-top: 20px; }

.section-last {
  margin-bottom: 0px; }

.feedback-form {
  text-align: center; }
  .feedback-form .form-help {
    font-size: 1em;
    text-align: left; }
  .feedback-form input {
    width: 100%; }
  .feedback-form textarea {
    width: 100%;
    height: 300px; }
  .feedback-form button {
    font-size: 1.5em;
    background: #fcfcfc;
    color: #477890; }
    .feedback-form button:hover {
      background: #cccccc;
      color: #477890; }
  .feedback-form .thanks {
    margin-top: 100px;
    margin-bottom: 100px; }
